{% load static %}
<link rel="stylesheet" href="{% static 'css/frontend/bloodDonnorIllustration.css' %}">
<div id="content" class="container">
  <h3>Select the donor blood type:</h3>
  <div id="blood_selector">
    <div>O−</div>
    <div>O+</div>
    <div>A−</div>
    <div>A+</div>
    <div>B−</div>
    <div>B+</div>
    <div>AB−</div>
    <div>AB+</div>
  </div>
  <div id="blood_content">
    <div class="bar"></div>
    <div class="main_bag">
      <div class="blood"></div>
    </div>
  </div>
  <div id="center_via_c">
    <div class="center_via">
      <div class="blood_via"></div>
    </div>
  </div>
  <div id="humans">
    <div class="human left">
      <div class="scribble"><span class="blood_type">O−</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human right">
      <div class="scribble"><span class="blood_type">O+</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human left">
      <div class="scribble"><span class="blood_type">A−</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human right">
      <div class="scribble"><span class="blood_type">A+</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human left">
      <div class="scribble"><span class="blood_type">B−</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human right">
      <div class="scribble"><span class="blood_type">B+</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human left">
      <div class="scribble"><span class="blood_type">AB−</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
    <div class="human right">
      <div class="scribble"><span class="blood_type">AB+</span>
        <div class="head"></div>
        <div class="body"></div>
      </div>
      <div class="via"></div>
      <div class="blood_via"></div>
    </div>
  </div>
</div>
<script src="{% static 'js/bloodDonnorIllustration.js' %}"></script>