<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* .body {
            overflow: hidden;
        } */

        .blood-flow-container {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .blood-flow-container canvas {
            position: absolute;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body class="body">
    <div class="blood-flow-container">
        <canvas id="c" width="1920" height="1080"></canvas>
    </div>
</body>
<script>
    // Dwitter Shim by Frank Force 2020
    // License Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.

    function u(t) { // La fonction u représente le code Dwitter

        // https://www.dwitter.net/d/18610 - Blood Cavern
        for (k = i = 960; --i; x.fill(x.arc(k + i + S(m = i + t * k / 4) * (r = (S(t + m / k) * .5 + 1.4) * 1e5 / i), 540 + C(m) * r, s = 4e4 / i, 0, 7, (m = i - t * k | 0) % 59 || x.arc(k + i + S(m = m ** 5) * r / 3, 540 + C(m) * r / 2, s = r / 9, 0, 7))))x.beginPath(x.fillStyle = R(i / 4))

    }

    let time = 0;
    let frame = 0;
    let FPS = 60;
    let x = c.getContext('2d');
    let S = Math.sin;
    let C = Math.cos;
    let T = Math.tan;
    let R = (r, g, b, a = 1) => `rgba(${r | 0},${g | 0},${b | 0},${a})`;

    let loop = (frameTime) => {
        requestAnimationFrame(loop);

        // Mettre à jour le temps
        time = frame++ / FPS;
        u(time);

        {
            // Remplir la fenêtre
            const aspect = c.width / c.height;
            if (aspect > innerWidth / innerHeight) {
                c.style.height = '100%';
                c.style.width = '';
            }
            else {
                c.style.width = '100%';
                c.style.height = '';
            }
        }
    }

    loop();
</script>

</html>